.xg-date-table {
  font-size: 0.8125rem;
}
.cell-text {
  color: #19181a;
  font-weight: normal;
}

.cell {
  position: relative;
  @apply w-10 h-10 flex items-center justify-center;

}
.cell::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.cell-not-currentmonth {
  opacity: 0.4;
}

.is-range
  .cell-day-available:not(.cell-in-range):not(.cell-start):not(.current) {
  @apply hover:bg-gray-200 rounded-lg;
}

.xg-date-table:not(.is-week) .cell-day-available:not(.cell-in-range):not(.cell-start):not(.current) {
  @apply hover:bg-gray-200 hover:text-violet-500 rounded-full;
}

.cell-day-available {
  cursor: pointer;
}

.date-row:not(.current-week)  .cell-day.today:not(.cell-in-range):not(.current) {
  @apply bg-gray-200 font-semibold;
}

.is-week .date-row:not(.current-week):hover {
  @apply bg-gray-200 rounded-lg;
}

.is-week .date-row.current-week {
  @apply bg-violet-500 rounded-lg;
}
.is-week .date-row.current-week .cell{
  @apply text-white font-semibold
}

.cell-day.today::before {
  content: '';
  display: block;
  position: absolute;
  @apply w-1 h-1;
  border-radius: 50%;
  left: 14px;
  top: 0.125rem;
  /* ICON GREY */
  @apply bg-gray-400;
}


.cell.cell-start.today::before {
  @apply bg-white;
}

.current.cell-day.today::before {
  /* ICON GREY */
  @apply bg-white;
}
.cell-in-range:not(.cell-start):not(.cell-end) {
  @apply text-violet-500;
  background: #f8f7fa;
}

.cell.cell-start {
  @apply bg-violet-500  text-white;
  @apply rounded-l-lg;
}
.cell.cell-end {
  @apply bg-violet-500  text-white;
  @apply rounded-r-lg;
}

.cell.cell-end:not(.cell-start) {
  @apply rounded-l-none;
}
.cell.cell-start:not(.cell-end) {
  @apply rounded-r-none;
}
.cell.current {
  @apply bg-violet-500 rounded-full text-white;
}

.yaer-table-cell,
.month-table-cell {
  @apply w-20  h-10 hover:text-violet-500 hover:font-semibold flex items-center justify-center hover:bg-gray-200 cursor-pointer;
  border-radius: 5rem;
}

.yaer-table-cell.active,
.month-table-cell.active {
  @apply bg-violet-500 text-white font-semibold;
}

.year-table,
.month-table {
  @apply grid grid-cols-3 text-13 mt-4;
  width: 17.5rem;
  gap: 1rem 1.25rem;
}

.picker-input-placeholder input {
  @apply text-gray-400;
}

.date-range-input-wrapper {
  @apply flex-1 z-10 text-gray-800 border border-gray-300 rounded-md h-9 text-sm pr-3 flex items-center justify-between;
}

.date-range-input-wrapper.active {
  @apply ring-violet-500 border-violet-500 ring-1;
}

.date-range-input-wrapper input {
  @apply border-0  h-full flex-1 text-center;
}

.date-range-input-wrapper input {
  @apply border-0  h-full outline-none;
}
