.xg-date-table {
  font-size: 0.8125rem;
}
.cell-text {
  color: #19181a;
  font-weight: normal;
}

.cell {
  position: relative;
  @apply w-10 h-10 flex items-center justify-center;
}
.cell::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.cell-not-currentmonth {
  opacity: 0.4;
}

.is-range
  .cell-day-available:not(.cell-in-range):not(.cell-start):not(.current) {
  @apply hover:bg-gray-200 rounded-lg;
}

.cell-day-available:not(.cell-in-range):not(.cell-start):not(.current) {
  @apply hover:bg-gray-200 rounded-full hover:text-purple-500;
}

.cell-day-available {
  cursor: pointer;
}

.cell-day.today:not(.cell-in-range):not(.current) {
  @apply bg-gray-200 font-black;
}
.cell-day.today::before {
  content: '';
  display: block;
  position: absolute;
  @apply w-1 h-1;
  border-radius: 50%;
  left: 14px;
  top: 0.125rem;
  /* ICON GREY */
  background: #77767f;
}

.current.cell-day.today::before {
  /* ICON GREY */
  @apply bg-white;
}
.cell-in-range:not(.cell-start):not(.cell-end) {
  @apply text-purple-500;
  background: #f8f7fa;
}

.cell.cell-start {
  @apply bg-purple-500  text-white;
  @apply rounded-l-lg;
}
.cell.cell-end {
  @apply bg-purple-500  text-white;
  @apply rounded-r-lg;
}

.cell.cell-end:not(.cell-start) {
  @apply rounded-l-none;
}
.cell.cell-start:not(.cell-end) {
  @apply rounded-r-none;
}
.cell.current {
  @apply bg-purple-500 rounded-full text-white;
}

.yaer-table-cell,
.month-table-cell {
  @apply w-20  h-10 hover:text-purple-500 font-semibold flex items-center justify-center hover:bg-gray-200 cursor-pointer;
  border-radius: 5rem;
}

.yaer-table-cell.active,
.month-table-cell.active {
  @apply bg-purple-500 text-white;
}

.year-table,
.month-table {
  @apply grid grid-cols-3 text-13 mt-4;
  width: 17.5rem;
  gap: 1rem 1.25rem;
}

.picker-input-placeholder input {
  @apply text-gray-400;
}
